<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Inasistencias</title>
</head>
<body>
<div th:replace="~{common/navbar::navbar}">
</div>
<div class="container-sm">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Rut</th>
            <th>Fecha</th>
            <th>¿Justificado?</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inasistencia:${inasistencias}">
            <td th:text="${inasistencia.rut_inasistencia}"></td>
            <td th:text="${inasistencia.fecha}"></td>
            <td th:text="${inasistencia.justificativo}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/justificarInasistencia/}+${inasistencia.id}"  role="button">Justificar</a>
                <a class="btn btn-primary" th:href="@{/inJustificarInasistencia/}+${inasistencia.id}"  role="button">No Justificar</a>

            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/nuevaInasistencia" role="button">Crear Inasistencia</a>
</div>
</body>

</html>